

/* .card-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } */

  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .card-container div {
    width: 100px;
    height: 100px;
  }  */